.wall {
  stroke: black;
  stroke-width: 0.1;
  fill: darkgrey;
}

.collide {
  stroke: red;
  stroke-width: 0.1;
}

.paint {
  stroke: white;
  stroke-width: 0.12;
  fill: none;
}

.dashed {
  stroke-dasharray: 0.6 1;
}

#diagonalHatch rect {
  fill:lightgreen;
}

#diagonalHatch line {
  stroke:green;
  stroke-width:0.2
}

.target {
  fill: url(#diagonalHatch);
  opacity: 0.5;
  stroke:green;
  stroke-width:0.1
}

.target.hit {
  opacity: 1;
}

#win {
  display: none;
}

#win rect {
  stroke-width: 0.1;
  stroke: black;
  fill: lightgreen;
}

 #lose {
   display: none;
 }

 #lose rect {
   stroke-width: 0.1;
   stroke: black;
   fill: orange;
}

 a:link, a:visited {
   cursor: pointer;
 }

a text {
   fill: blue;
   text-decoration: underline;
}

.trace {
  stroke-width: 0.2;
  stroke: purple;
  fill: none;
  opacity: 0.6;
}
